*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
header,.main,footer{
	width: 90%;
	margin: 20px auto;
	max-width: 1500px;
}
header{
	background: #116DC6;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+17,52b152+33,008a00+67,005700+83,002400+100;Green+3D+%231 */
	background: rgb(180,221,180); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(180,221,180,1) 0%, rgba(131,199,131,1) 17%, rgba(82,177,82,1) 33%, rgba(0,138,0,1) 67%, rgba(0,87,0,1) 83%, rgba(0,36,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=1 ); /* IE6-9 */
	-webkit-box-shadow: 0 0 10px 10px #54B5FF;
	box-shadow: 0 0 10px 10px #54B5FF;
}
#logo img {
	width: 50%;
	margin: auto;
	display: block;
	padding: 20px;
}
.menu {
	background: skyblue;
	overflow: hidden;
}
.menu ul{
	list-style: none ;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	padding: 10px 20px;
	display: block;
	color: white;
	text-decoration: none;
}
.menu ul li a:hover{
	background: white;
}
.main .articulos{
	width: 68.5%;
	float: left;
	margin-right: 1.5%;
}
.lateral{
	background: #6367FF;
	float: left;
	width: 15%;
	padding: 20px;
	margin-bottom: 20px;
}
.main .articulos article {
	background: #CAFCFF;
	margin-bottom: 20px;
}
footer{
	background: #6327FF;
	color: white;
	text-align: center;
	clear: both;
	padding: 10px 5px;
}
